*
{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body
{
    background-image: url(New\ York\ background\ image\ transparent.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.container
{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: linear-gradient(to bottom, rgb(121, 119, 246), rgb(166, 55, 233));
    border-radius: 10px;
    width: 24%;
    margin: 6rem auto;
    padding: 6rem 0;
    height: 70vh;
}

input
{
    border: none;
    outline: none;
    background: none;
    padding: 10px;
    padding-left: 0;
    font-weight: 700;
    color: white;
}

img
{
    border-radius: 50%;
    width: 80px;
    margin-top: -60px;
}

svg
{
    color: white;
}

.input-section
{
    display: flex;
    flex-direction: column;
    margin: 12px 0;
}

.username-section,
.password-section
{
    display: flex;
    align-items: center;
    gap: 10px;
    border-bottom: 2px solid #d1d1d47c;
    width: 18rem;
}


.rememberMe-section
{
    color: rgba(255, 255, 255, 0.933);
    font-size: 12px;
    align-self: start;
}

#rememberMe
{
    transform: scale(1.1);
    outline: none;
    border: none;
    margin-right: 4px;
}

h1
{
    color: rgba(255, 255, 255, 0.933);
    font-size: 20px;
    margin-top: 22px;
}

button
{
    border-radius: 40px;
    padding: 7px 25px;
    color: black;
    margin-top: 20px;
}

.password-section
{
    margin: 20px 0;
}

.forgotPassword
{
    margin-top: 70px;
    margin-bottom: -70px;
    color: rgba(255, 255, 255, 0.933);
    font-size: x-small;
}